.header{
    height: var(--header-hight);
    background-image: linear-gradient(0,#fe6433,#f53e2d) ;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar--list{
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar--item{
    margin: 0 8px;
    position: relative;
}

.header__navbar--item,
.header__navbar--item--link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
    min-height: 26px;
}

.header__navbar--item:hover,
.header__navbar--icon-link:hover,
.header__navbar--item--link:hover{
    color: rgba(255 , 255 , 255, 0.7);
    cursor: pointer;
}

.header__navbar--item--font{
    font-weight: 500;
}

.header__navbar--icon{
    font-size: 18px;
    margin-right: 8px;
}

.header__navbar--item,
.header__navbar--item--link,
.header__navbar--icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar--item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border: 1px solid #FB9086;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.header__navbar--icon-link{
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar--item-title-no-poiter{
    cursor: text;
    color: #fff;
}
/* header qrcode */
.header__qr {
    width: 180px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
}

.header__navbar--item-has-qr:hover .header__qr{
    display: block;
}

.header__navbar--item-has-notify:hover .header__notify{
    display: block;
    z-index: 1;
}

.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 18%;
    left: 0;
    top: -16px;    
}

.header__qr-img{
    width: 100%;
}

.header__download-img{
    height: 15px;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header-qrlink:first-child{
    margin-left: 11px;
}

.header-qrlink:nth-child(2){
    margin-right: 11px;
}
/* header qrcode */
/* header notify */
.header__notify{
    position: absolute;
    top: 100%;
    width: 404px;
    background-color: var(--while-color);
    right: 0;
    top: 118%;
    border: 1px solid #D3D3D3;
    animation: headernotygrow ease-in .3s;
    transform-origin: calc(100% - 20px) top;
    display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right:-1px;
    top: -30px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
    width: 90px;
    height: 15px;  
}

.header__notify--header{
    height: 40px;
    background-color: var(--while-color);
}

.header__notify--header h3{
    color: #666;
    margin: 0 0  0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    cursor: default;
}

.header__notify--list{
    padding-left: 0;
}

.header__notify--item{
    display: flex;
}

.header__notify--item:hover{
    background-color: #f7f7f7;
}

.header__notify--item--viewed{
    background-color: rgba(238, 75,43, .1);

}

.header__notify--link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify--info{
    margin-left: 12px;
}

.header__notify--img{
    width: 48px;
    object-fit: contain;
}

.header__notify--name{
    display: block;
    font-size: 1.6rem;
    color: var( --black-color);
    font-weight: 400;
    line-height: 1.6rem;

}

.header__notify--discription{
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify--footer{
   display: flex;
    height: 40px;
    line-height: 40px;
}

.header__notify--footer-btn{
    text-decoration: none;
    text-align: center;
    padding: 8 0;
    width: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}
/* header notify */
/* auth-modal */
.auth-form{
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;
    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__witch-btn{
    font-size: 1.6rem;
    color: var(--primery--color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    padding:  0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    margin:  7px 0  ;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
    line-height: 1.5rem;
    text-align: center;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primery--color);
}
.app_content{
    padding-top: 36px;
}
.auth-form__control{
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon-fabook{
    background-color: #3A5A98;
    color: var(--while-color);
}

.auth-form__socials-icon-fabook,
.auth-form__socials-icon{
    color: var(--while-color);
    margin-left: 12px;
}

.auth-form_social-title{
    margin-left: 16px;
    margin-right: 42px;
}

.auth-form__socials-icon-s{
    margin-left: 16px;
    padding-right: 10px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 24px;
    margin:  0 15px;
}

.auth-form__help__forgot{
    color: var(--primery--color);
}

.auth-form__help__s{
    color: var(--text-color);
}

/* header with search */
.header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 0 9px;
}

.head__logo{
    width: 200px;
}

.header-logo-img{
    width: 150px;
    color: var(--while-color);
}

.header-search{
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
}


.header-cart{
    width: 150px;
    text-align: center;   
}

.hader-cart-icon{
    font-size: 2.7rem;
    color: var(--while-color);

}



.header-search_input_warp{
    flex: 1;
    width: 100%;
   
}

.header-search_input{ 
    height: 100%;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    padding: 0 16px;
    border-radius: 3px;
    width: 100%;
    z-index:1 ;
}

.header-search_input:focus ~ .header_search_history{
    display: block;
}

.header-search_select{
    border-left: 1px solid #ccc;
    padding-left: 16px; 
    line-height: 25px;
    position: relative;
}

.header-search_select_lable{
    font-size: 1.4rem;
    color: var(--text-color);
   
}

.header-search_select_icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 8px;
    position: relative;
    top: 2px;
}

.seader-search_btn{
    background-color: var(--primery--color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 4px;
    width: 60px;
    outline: none;
}

.seader-search_btn-icon{
    font-size: 1.6rem;
    color: var(--while-color);
}

.seader-search_btn:hover{
    background-color: #d6614a;
    cursor: pointer;
  

}

.header-search_select-option{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    box-shadow: 0 1px 3px #ccc;
    padding: 0;
    z-index: 2;
    border-radius: 3px
}

.header-search_select-option::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;
}

.header-search_select:hover .header-search_select-option{
    display: inline-block;
    animation: fadeIn ease-in .2s;
    z-index: 1;
}

.header-search_select-item{
    background-color: var(--while-color);
    border-radius: 3px;
    padding: 8px 8px;
    list-style-type: none;
  
}.header-search_select-item:first{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header-search_select-item:hover{
    background-color: #fafafa;
}

.header-search_select-option span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-search_select-option i{
    font-size: 1.4rem;
    color: var(--primery--color);
    margin: 0 4px 0 8px;
    display: none;
}

.header-search_select-item--actice  i{
    display: inline-block;
}

.header_search_history{
    position: absolute;
    top: calc(100% + 2px) ;
    left: 0;
    width: 100%;
    background-color: var(--while-color);
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    display: none;
    z-index: 1;
}
.header_search-history-text{
   text-decoration: none;
   font-size: 1.4rem;
   color: var(--text-color);
   line-height: 38px;
}
.header_search-history-item{
    list-style-type: none;
    height: 38px;
    padding: 0 12px;
}
.header_search-history-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header_search-history-header{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header_search-history-list{
    padding-left: 0;
    margin-bottom: 0;
}
.header_search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}

/* phan thieu */
.header-cart_heading{
    text-align: left;
    margin: 8px  12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header-cart_list-item{
    list-style: none;
    padding: 0;
    height: 56vh;
    overflow-y: auto;
}
.header-cart_item{
    display: flex;
    align-items: center;
}
.header-cart_item:hover{
    background-color: #F8F8F8;
}
.header-cart_img{
    width: 42px;
    height: 42px;
    object-fit: contain;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header-cart_infor{
    width: 100%;
    text-align: center;
}
.header-cart_infor-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}
.header-cart_infor-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 3rem;
    overflow: hidden;
}
.btn-cart_right{
    float: right;
    margin: 0 12px 12px;
}
.btn-cart_right:hover{
    background-color: #F05D41;
}
.header-cart_infor-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primery--color);
}
.header-cart_infor-multiply{
    font-size: 0.7rem;
    color: #757575;
    margin: 0 4px;
}
.header-cart_infor-qnt{
    color: #757575;
    font-size: 1.2rem;
    
}
.header-cart_body{
    display: flex;
    justify-content: space-between;
}
.header-cart_body-item-descripsion{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}
.header-cart_infor-remove{
    margin-right: 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 400;
}
.header-cart_infor-remove:hover{
    color: var(--primery--color);
    cursor: pointer;
}
/*  */
.header-cart_list::after {
    content: '';
    position: absolute;
    right: 2px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color);
    cursor: pointer;
}
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header-cart_list{
    position: absolute;
    top: calc(100% + 10px);
    right: -3px;
    background-color: var(--while-color);
    width: 410px;
    border-radius: 2px;
    box-shadow: 0 1px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.5s;
    cursor: default;
    z-index: 3;
}
.header-cart-wrap:hover .header-cart_list{
    display: block;
}

.header-cart_list_noncart .noncart_img,
.header-cart_list_noncart .img_text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noncart_img{
    width: 60%;
    display: none;
}

.header-cart_list_noncart{
    padding: 27px 0;
}

.img_text{
    font-size: 1.4rem;
    margin-top: 12px;
    font-weight: 500;
    color: var(--text-color);
    display: none;
}
.header-cart-notice{
    position: absolute;
    padding: 2px 7px;
    background-color: var(--while-color);
    color: var(--primery--color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 12px;
    border: 2px solid #EE4D2D;
    top: -12px;
    right: -8px;
}

.header__navbar--item_user{
    position: relative;
}

.header-navbar-user-avata{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0,0, .2);
}
.header-navbar-user-avata-user-name{
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--while-color);
}

.header-navbar_user_menu{
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    background-color: var(--while-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 3px #ccc;
    display: none;
}

.header__navbar--item_user:hover .header-navbar_user_menu{
    display: block;
    animation: fadeIn ease-in 0.5s;
}
.header-navbar_user_menu::after {
    content: '';
    position: absolute;
    right: 7px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color);
    cursor: pointer;
}
.header_navbar_user_item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 6px 16px;
    
}
.header_navbar_user_item a:hover{
    background-color: #fafafa;
}

.header_navbar_user_item a:first-child{
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}

.header_navbar_user_item a:last-child{
    border-bottom-left-radius:2px ;
    border-bottom-right-radius:2px;
}
.container{
    background-color: #F5F5F5;
}
.categury{
    background-color: var(--while-color);
    border-radius: 3px;
}
.categury-heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0,0, .05);
    margin-top: 0;
}

.categury-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.categury-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}



.categury-item-active {
    color: var(--primery--color);

}
 .categury-item-active .categury-item_link::before{
    position: absolute;
    content: "";
    left: 8px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    border: 5px solid;
    border-color:  transparent transparent transparent var(--primery--color); 
}
.categury-item_link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    display: block;
    position: relative;
    transition: right linear 0.1s;
    right: 0;
}
.categury-item_link:hover{
    right: -4px;
    color: var(--primery--color);
}
.home-product{
    margin-bottom: 10px;
}
.home-filter{
    align-items: center;
    display:flex;
    background-color: rgba(0, 0,0, .04);
    padding: 12px 22px;
    border-radius: 2px;
    position: relative;
}
.home-filter_paginate{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter_btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter_label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.select-input__label{
    font-size: 1.4rem;
    min-width: 200px;
}
.select-input__label_icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 2px;
}
.home-filter_paginate_numeber{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter_paginate_current{
    color: var(--primery--color);
}
.home-filter_page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter_page_btn{
    flex: 1;
    background-color: var(--while-color);
    display: flex;
    text-decoration: none;
}
.home-filter_page_btn:first-child{
    border-right: 1px solid #EEEE;
}
.home-filter_page_icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter_page_btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter_page_btn-disabled .home-filter_page_icon{
    color: #ccc;
}
/* .home-product-img{
    width: 188px;
    height: 188px;
    object-fit: contain;
} */
/* home product */

.home-product-item{
    display: block;
    position: relative;
    background-color: var(--while-color);
    margin-top: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
}
.home-product-item-img{
    padding-top: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item-img-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    height: 3.4rem;
    margin: 10px 10px 4px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item-price{
    display: flex;
    padding-left: 10px;
    align-items: baseline;
    flex-wrap:wrap;
    
}
.home-product-item-price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item-new-price{
    font-size: 1.6rem;
    color: var(--primery--color);
    margin-left:4px;
  
}

.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item-like{
    font-size: 1.4rem;
}
i.home-product-item-like-icon-fill{
    display: none;
    color: #fe6433;
}
.home-product-item-liked i.home-product-item-like-icon-fill{
    display: inline-block;
}
.home-product-item-liked i.home-product-item-like-icon-empty{
    display: none;
}
.home-product-item_rank{
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0  0 auto;
}
.home-product-item_star-gold{
    color: #FFCE3E;
}
.home-product__sold{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 6px;
}
.home-product-item_origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0 ;
    color: #595959;
    font-size: 1.2rem;
    font-family: 300;
    
}

.home-product-item-origin-name{
    margin-left: auto;
}
.home-product-item-favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primery--color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 16px;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item-favourite::before{
    content: "";
    position: absolute;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    bottom: -3px;
    filter: brightness(40%);
}
.home-product-item-favourite span{
    color: var(--while-color);

}
.home-product-item-favourite i{
    font-size: 0.9rem;
    margin:0 3px 0 5px;
    color: var(--while-color);
}
.home-product-item-selloff{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.9);
    text-align: center;
}
.home-product-item-selloff::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.9) transparent rgba(255, 216, 64,0.9);
}
.home-product-item_percent{
    color: #EE4D2D;
    font-weight:600;
    line-height: 1.3rem;
    font-size: 1.3rem;
    position: relative;
    top: 1px;
}
.home-product-item-sellof-percent{
    color: var(--text-color);
    line-height: 1.3rem;
    font-size: 1.4rem;
    position: relative;
    top: 4px;
    font-weight: 600;
}
.home-product_pagination{
    margin: 48px 32px ;
}
/* footer */
.footer{
    border-top: 4px solid var(--primery--color);
    padding-top: 16px;
}
.footer_heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer_list{
    padding-left: 0;
    list-style: none;
}
.footer_link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer_item{
    margin-top: 12px;
}
.footer_link:hover{
    color: var(--primery--color);
}
.footer_item_icon{
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 8px;
}
.footer_download{
   display: flex;
}
.footer_qrcode{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer_img_download{  
    height: 20px;
    margin: 6px 0;  
}
.footer_download_app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}
.footer_text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}
.bottom{
    margin-top: 24px;
    padding: 12px 0;
    background-color: #F5F5F5;
}
